*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1a1a1a;
    color: white;
    padding: 1rem 2rem;
}

.navbar .link{
    display: flex;
    gap: 1.5rem;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover{
    text-decoration: underline;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: linear-gradient(to right, #4facfe, #00f2fe);

}

.hero h1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.hero p{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.hero button{
    background-color: white;
    color: #0077ff;
    border: none;
    padding: 0.7rem  1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

}

.hero button:hover{
background-color: #f0f0f0;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
background-color: #f9f9f9;
padding: 2rem;
}

.card{
    flex: 1;
    background: white;
    padding: 1.5rem;
    border: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card h3{
    margin-bottom: 0.5rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 1rem 2rem;
}

.footer-links{
    display: flex;
    gap: 1rem;

}

.footer a{
    color: white;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .cards{
        flex-direction: column;
        align-items: center;
    }

    .footer{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
}